.section {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
  color: white;
}

@media screen and (max-width: 767px) {
  .section {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding-bottom: 20px;
    padding-left: 0px;
  }
}

.section.centered {
  text-align: center;
}

.section.accent {
  background-color: var(--white-f8e92800);
}

.section.dark {
  background-color: var(--darkGrey-00e7b287);
  color: white;
}

.section.light {
  background-color: var(--white-f8e92800);
}

.container-8 {
  margin-bottom: 40px;
  font-family: Raleway;
}

@media screen and (max-width: 479px) {
  .container-8 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.section-title-group {
  display: block;
  margin-bottom: 62px;
  font-family: Lato, sans-serif;
  color: #202020;
}

.section-title-group.centered {
  text-align: center;
}

.heading {
  margin-top: 50px;
  margin-bottom: 36px;
  padding-left: 0px;

  font-family: Raleway;
  color: var(--darkGrey-00e7b287);
  font-size: 40px;
}

@media screen and (max-width: 479px) {
  .heading {
    padding-left: 10px;
    line-height: 50px;
  }
}

.heading.h2 {
  display: block;
  font-family: Raleway;
  text-align: center;
}

.heading.eingerckt {
  padding-left: 0px;
  font-family: Raleway;
  color: #5d5d5d;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .heading.eingerckt {
    padding-left: 0px;
    font-size: 170%;
  }
}

.paragraph-2 {
  display: block;
  width: 50%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;

  font-family: Raleway;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .paragraph-2 {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    text-align: left;
  }
}

.form-wrapper.squeezed {
  padding-right: 19%;
  padding-left: 19%;
}

@media screen and (max-width: 991px) {
  .form-wrapper.squeezed {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media screen and (max-width: 767px) {
  .form-wrapper.squeezed {
    padding-right: 9px;
    padding-left: 0px;
  }
}

.form {
  display: block;
  font-family: Lato, sans-serif;
}

@media screen and (max-width: 767px) {
  .form {
    margin-right: 10px;
    padding-left: 20px;
  }
}

.form-label {
  margin-bottom: 6px;

  font-family: Raleway;
  color: #272727;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-transform: none;
}

.form-field {
  min-height: 41px;
  margin-right: 1px;
  margin-bottom: 17px;

  border-style: none;
  border-radius: 3px;

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);

  transition: box-shadow 150ms ease;
}

.form-field:focus {
  box-shadow: 0 0 0 2px var(--blue-4127f807);
}

.form-field.text-area {
  min-height: 110px;
}

.form-field.with-button {
  width: 75%;
  margin-bottom: 0px;
  float: left;
}

.button {
  display: inline-block;
  padding: 14px 20px;

  border-radius: 1px;

  background-color: var(--yellowGreen-954fc959);

  transition: background-color 150ms ease;

  font-family: Lato, sans-serif;
  color: white;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: var(--darkBlue-ae25f8a3);
}

.button:global(.w--current) {
  background-color: #2e80b6;
}

.button.white {
  background-color: white;
  color: var(--darkerGrey-da0d8fdf);
  text-align: right;
}

.button.white:hover {
  background-color: rgba(255,255,255,0.77);
}

.button.black {
  background-color: var(--darkerGrey-da0d8fdf);
}

.button.black:hover {
  background-color: black;
}

.button.black.with-field {
  width: 22%;
  margin-left: 2%;
  float: left;
}

.button.full-width {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;

  border-radius: 1px;

  background-color: #a1b702;

  font-family: Raleway;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.button.small {
  padding: 7px 12px;
  background-color: var(--blue-4127f807);
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
}

.button.small:hover {
  background-color: var(--darkBlue-ae25f8a3);
}

.button.tab {
  margin-right: 8px;
  margin-left: 8px;
  background-color: var(--greyMid-bcf72381);
}

.button.tab:hover {
  background-color: #7e7e7e;
}

.button.tab:global(.w--current) {
  background-color: var(--yellowGreen-954fc959);
}

.button.tab:global(.w--current):hover {
  background-color: var(--darkBlue-ae25f8a3);
}

@media screen and (max-width: 479px) {
  .button.tab {
    margin-bottom: 9px;
  }
}

.button.with-field {
  width: 22%;
  margin-left: 2%;
  float: left;
}

.button.cta-dark:hover {
  color: var(--white-f8e92800);
}

@media screen and (max-width: 479px) {
  .button.cta-dark {
    display: block;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
}

.cta-dark {
  position: static;

  display: block;
  width: 50%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 17px 70px;

  border: 1px solid var(--darkGrey-00e7b287);

  background-color: transparent;

  font-family: Lato, sans-serif;
  color: var(--darkGrey-00e7b287);
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .cta-dark {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .cta-dark {
    width: 50%;
    font-size: 125%;
  }
}

@media screen and (max-width: 479px) {
  .cta-dark {
    display: block;
    width: 70%;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
}

.success-wrapper {
  padding: 31px;
  border-radius: 5px;
  background-color: var(--white-f8e92800);
  color: white;
}

.success-message {
  margin-bottom: 43px;

  font-family: Lato, sans-serif;
  color: var(--darkerGrey-da0d8fdf);
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .success-message {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.link-3 {
  display: flex;
  width: 250px;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(to bottom, var(--yellowGreen-954fc959),var(--yellowGreen-954fc959));

  color: var(--white-f8e92800);
  text-align: center;
}

.error-wrapper {
  border-radius: 5px;
  background-color: #ff4040;
  color: white;
}

.error-message {
  margin-bottom: 0px;
  color: white;
  font-size: 18px;
  line-height: 26px;
}

.bold-text {
  color: var(--darkerGrey-da0d8fdf);
}