.footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.footer.center {
  text-align: center;
}

.footer.centered-smaller {
  padding-top: 33px;
  padding-bottom: 33px;
}

.footer.accent {
  background-color: var(--lightBackground-312c9342);
}

.footer.centered-accented {
  background-color: var(--lightGrey-8566d402);
  text-align: center;
}

.image-6 {
  margin-bottom: 10px;
}

.float-right {
  float: right;
}

.social-icon-link {
  padding: 3px;
  opacity: 1;
  transition: opacity 150ms ease;
}

.social-icon-link:hover {
  opacity: 0.5;
}

.div-block-5 {
  padding-top: 1px;
  padding-bottom: 0px;
  border: 1px none #a0a0a0;
  background-image: linear-gradient(to bottom, rgba(121, 121, 121, 0.5),rgba(121, 121, 121, 0.5));
  color: #bebebe;
}

.div-block-6 {
  display: flex;
  justify-content: space-between;
  font-family: Raleway;
}

.div-block-7 {
  padding-top: 10px;
}

.link-5 {
  margin-top: 10px;
  margin-left: 10px;
  color: var(--darkerGrey-da0d8fdf);
}