.section-6 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.section-heading-h3 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  color: var(--darkerGrey-da0d8fdf);
}

.section-heading-h3.centered {
  margin-top: 50px;
  margin-bottom: 0px;

  font-family: Raleway;
  color: #333;
  font-size: 24px;
  line-height: 50px;
  font-weight: 500;
  text-align: center;
}

.paragraph-centered {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;

  font-family: Raleway;
  color: var(--darkGrey-00e7b287);
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
}