.hero-block-wohnraum {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;

  background-image: linear-gradient(to bottom, #882f45,#882f45);
}

.columns {
  margin-right: 0px;
  margin-left: 0px;
}

.column-left {
  margin-top: 0%;
}

.div-block-14 {
  margin-top: 15%;
  margin-bottom: 5%;
}

.white-titel {
  margin-bottom: 0px;

  font-family: Raleway;
  color: var(--white-f8e92800);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 10px;
}

.heading-12-white {
  font-family: Raleway;
  color: var(--white-f8e92800);
  font-weight: 400;
  text-align: center;
  letter-spacing: 15px;
}

@media screen and (max-width: 479px) {
  .heading-12-white {
    font-size: 25px;
    letter-spacing: 5px;
  }
}

.heading-9-copy {
  margin-bottom: 0px;

  font-family: Raleway;
  color: var(--white-f8e92800);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}